# Lechuza board configuration

# Copyright (c) 2022 elagil
# SPDX-License-Identifier: MIT

if BOARD_LECHUZA

config BOARD
    default "lechuza"

config ZMK_KEYBOARD_NAME
	default "Lechuza"

config ZMK_KSCAN_MATRIX_POLLING
	default y

endif # BOARD_LECHUZA
