# Lechuza board configuration

# Copyright (c) 2022 elagil
# SPDX-License-Identifier: MIT

CONFIG_BOARD_LECHUZA=y
CONFIG_SOC_SERIES_STM32L0X=y
CONFIG_SOC_STM32L072XX=y

# 32 MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=32000000

# enable PINMUX
CONFIG_PINMUX=y

# enable GPIO
CONFIG_GPIO=y

# ZMK Settings
CONFIG_ZMK_USB=y
CONFIG_ZMK_KSCAN_GPIO_DRIVER=y
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y
CONFIG_USB_SELF_POWERED=n
