# Polilla board configuration

# Copyright (c) 2020 elagil
# SPDX-License-Identifier: MIT

if BOARD_POLILLA

config BOARD
	default "Polilla"

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

endif # BOARD_POLILLA
