# Polilla board configuration

# Copyright (c) 2025 elagil
# SPDX-License-Identifier: MIT

if BOARD_POLILLA

config ZMK_KEYBOARD_NAME
	default "Polilla"

config USB_NRFX
	default y

config BT_CTLR
	default BT

endif # BOARD_POLILLA
