/*
 * Lechuza board configuration
 *
 * Copyright (c) 2022 elagil
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define LOWER 1
#define UPPER 2

&caps_word {
    continue-list = <LSHFT RSHFT BSPC UNDERSCORE MINUS>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ,-----------------------------------,                          ,-----------------------------------,
// |  =  |  1  |  2  |  3  |  4  |  5  |                          |  6  |  7  |  8  |  9  |  0  |  -  |
// |  [  |  Q  |  W  |  E  |  R  |  T  |                          |  Y  |  U  |  I  |  O  |  P  |  ]  |
// | TAB |  A  |  S  |  D  |  F  |  G  |-----,              ,-----|  H  |  J  |  K  |  L  |  ;  |  '  |
// | SFT |  Z  |  X  |  C  |  V  |  B  | ESC |-----,  ,-----|  \  |  N  |  M  |  ,  |  .  |  /  | SFT |
// '-----------------| ALT |LOWER| BSP | CTL | GUI |  | RET | ALT |  _  |UPPER| ALT |-----------------'
//                   '-----------------------------'  '-----------------------------'
            bindings = <
&kp EQUAL   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                                      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
&kp LBKT    &kp Q       &kp W       &kp E       &kp R       &kp T                                                       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp RBKT
&kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G                                                       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
&kp LSHFT   &kp Z       &kp X       &kp C       &kp V       &kp B       &gresc     	                        &kp BSLH 	&kp N   	&kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT
                                    &kp LALT    &mo LOWER   &kp BSPC    &kp LCTL    &kp LGUI    &kp RET     &kp RALT   	&kp SPC     &mo UPPER  	&kp LALT
            >;
        };

        lower_layer {
// ,-----------------------------------,                          ,-----------------------------------,
// |     |  F1 |  F2 |  F3 |  F4 |  F5 |                          |  F6 |  F7 |  F8 |  F9 | F10 | F11 |
// |     |     |     |     |     |     |                          |  ^  |  &  |  *  |  (  |  )  | F12 |
// |S-TAB|  !  |  -  | DEL |  +  |     |-----,              ,-----|  =  |  |  |  /  |  \  |  `  |     |
// |  T  |     |     |     |     |     |  T  |-----,  ,-----|     |     |  ~  |  <  |  >  |     |  T  |
// '-----------------|  T  |  T  |  T  |  T  |  T  |  |  T  |  T  |  T  |  T  |  T  |-----------------'
//                   '-----------------------------'  '-----------------------------'
            bindings = <
&none		&kp F1     	&kp F2      &kp F3      &kp F4      &kp F5                                                      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
&none   	&none  		&none		&none  		&none		&none                     			                        &kp CARET   &kp AMPS	&kp STAR	&kp LPAR	&kp RPAR	&kp F12
&kp LS(TAB)	&kp EXCL   	&kp MINUS   &kp DEL	    &kp PLUS	&none                           	                        &kp EQUAL	&kp PIPE    &kp FSLH	&kp BSLH	&kp GRAVE	&none
&trans   	&none       &none		&none		&none		&none     	&trans                              &none       &none       &kp TILDE	&kp LT		&kp GT		&none		&trans
                                    &trans      &trans      &trans    	&trans      &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };

        upper_layer {
// ,-----------------------------------,                          ,-----------------------------------,
// |     |  F1 |  F2 |  F3 |  F4 |  F5 |                          |  F6 |  F7 |  F8 |  F9 | F10 | F11 |
// |     |     | BRID|     | BRIU|     |                          | PGUP| PREV|  UP | NEXT| PRT | F12 |
// |     |     | PREV| PLAY| NEXT|     |-----,              ,-----| HOME| LEFT| DOWN|RIGHT| END |     |
// |  T  |     | VOLD| MUTE| VOLU|     |  T  |-----,  ,-----|     | PGDN| DELP| INS | DELN|PAUSE|  T  |
// '-----------------|  T  |  T  |  T  |  T  |  T  |  |  T  |  T  |  T  |  T  |  T  |-----------------'
//                   '-----------------------------'  '-----------------------------'
            bindings = <
&none		&kp F1     	&kp F2      &kp F3      &kp F4      &kp F5                                                      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
&none   	&none  		&kp C_BRI_DEC &none  	&kp C_BRI_UP &none                     			                        &kp PG_UP   &kp LC(LEFT) &kp UP     &kp LC(RIGHT) &kp PSCRN &kp F12
&none       &none       &kp C_PREV  &kp C_PP    &kp C_NEXT  &none                           	                        &kp HOME    &kp LEFT    &kp DOWN    &kp RIGHT   &kp END     &none
&trans   	&none       &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &none     	&trans                              &none       &kp PG_DN   &kp LC(BSPC) &kp INS    &kp LC(DEL) &kp PAUSE_BREAK &trans
                                    &trans      &trans      &trans    	&trans      &trans      &trans      &trans      &trans      &trans      &trans
            >;
        };
    };
};
